---
layout: default
title: Blog
---
<div class="blog">

  <h1 class="page-heading">Blog</h1>

  {% if site.categories.blog %}
    <ul class="post-list">
      {% for post in site.categories.blog do %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    Nothing to see here at this time.
  {% endif %}

</div>
