---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">Last update on {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>

    <p class="post-meta">
        Project status: {{ page.status }}
        {% if page.repository %}<br />Repository: <a href="{{ page.repository }}">{{ page.repository }}</a>{% endif %}
    </p>
  </header>

  <article class="post-content">
    <p>{{ page.summary }}</p>

    {{ content }}

    {% if page.images %}
      <h2 id="images">Images</h2>
      {% for image in page.images do %}
        <a href="{{ image | prepend: "/images/" | prepend: site.url }}"><img src="{{ image | prepend: "/images/" | prepend: site.url }}" width="200"></a>
      {% endfor %}
    {% endif %}
  </article>

</div>
