---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">Last update on {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    {% if page.repository %}<p class="post-meta">Repository: <a href="{{ page.repository }}">{{ page.repository }}</a></p>{% endif %}
  </header>

  <article class="post-content">
    <p>{{ page.summary }}</p>

    {{ content }}
  </article>

</div>
